version: "3.1"
services:
  db:
    image: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=app
      - MYSQL_DATABASE=app
      - MYSQL_USER=app
      - MYSQL_PASSWORD=app
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "3306:3306"

  redis:
    image: redis
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "6379:6379"

  app:
    build: .docker/php-fpm
    working_dir: /app
    links:
      - redis
      - db
    volumes:
      - .:/app
      - ./.docker/php-fpm/php.ini-development:/usr/local/etc/php/php.ini

  webserver:
    image: nginx:alpine
    working_dir: /app
    links:
      - app
    volumes:
      - .:/app
      - ./docker/nginx/nginx_dev.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
